@page "/"
@using Session4.Model


<h3>Сотрудники</h3>
<div class="overflow-auto" style="display:flex; justify-content:center; flex-direction:row; width:100rem">
    @foreach (Employee item in employees!)
    {
        <div class="card" style="min-width:10rem; max-height:8rem; background-color:#78B24B; margin: 5px; display:flex; justify-content:space-between">
            <div class="card-body">
                <h6 class="card-title" style="font-size:10px; color:white; margin: 1px">@item.Surname @item.FirstName @item.SecondName</h6>
                <p class="card-text" style="font-size:8px; color:white; margin: 1px">@item.Position</p>
                <p class="card-text" style="font-size:8px; color:white; margin: 1px">@item.Email</p>
                <p class="card-text" style="font-size:8px; color:white; margin: 1px">@item.PhoneWork</p>
                <div style="display:flex; justify-content:space-between; flex-direction:row;">
                    <p class="card-text" style="font-size:8px; color:white; margin: 1px">@Convert.ToDateTime(item.BirthDay.ToString())!.ToString("M")</p>
                    <a class="btn btn-primary" href="/qr/@item.IdEmployee" style="height:15px; width:15px;
                                    display:flex; justify-content:center; align-items:center">
                        <img src="qricon.png" style="width:15px" />
                    </a>


                </div>
            </div>
        </div>
    }
</div>
<div style="display:flex; justify-content:space-between; flex-direction:row; width:100rem; margin-top:3rem">
    <div>
        <div>
            <h3>Календарь</h3>
            <div style="width:18rem; height:16rem; background-color:lightgray"></div>
        </div>
        <div style="margin-top:3rem">
            <h3>События</h3>
            @foreach (var item in events!)
            {
                <div class="card" style="min-width:15rem; max-height:7rem; background-color:#78B24B; margin: 5px">
                    <div class="card-body">
                        <h6 class="card-title" style="font-size:10px; color:white">@item.EventName</h6>
                        <p class="card-text" style="font-size:8px; color:white">@item.EventDescription</p>
                        <div style="display:flex; justify-content:space-between; flex-direction:row;">
                            <p class="card-text" style="font-size:8px; color:white">@item.DateOfEvent</p>
                            <p class="card-text" style="font-size:8px; color:white">@item.EventManagers</p>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <h3>Новости</h3>
    </div>
</div>

@code {

    private List<Employee>? employees = new();
    private List<Event>? events = new();
    private HttpClient httpClient = new HttpClient();


    protected override async Task OnInitializedAsync()
    {
        employees = await httpClient.GetFromJsonAsync<List<Employee>>("http://localhost:5107/Employees");
        events = await httpClient.GetFromJsonAsync<List<Event>>("http://localhost:5107/Events");

    }
    public class Event
    {
        public int IdEvent { get; set; }

        public string EventName { get; set; } = null!;

        public string TypeOfEvent { get; set; } = null!;

        public string EventStatus { get; set; } = null!;

        public string EventDescription { get; set; } = null!;

        public DateTime DateOfEvent { get; set; }

        public string EventManagers { get; set; } = null!;

        public string TypeOfClass { get; set; } = null!;

    }
}

    


}